<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marriage age prediction</title>
</head>
<body style="background-color: #95b6e4;">
    <h1> Marriage age prediction</h1>


    <form action="/get_data" method="post">
        <label>Gender:</label> 
         <input type="radio" name = 'html_gender' value="male"> <label>Male</label>
         <input type="radio" name = 'html_gender' value="female"> <label>Female</label> <br><br>


        <label>religion:</label> 
        <select name = 'html_religion'>
            <option value="Christian">Christian</option>
            <option value="Jain">Jain</option>
            <option value="Hindu">Hindu</option>
            <option value="Sikh">Sikh</option></select><br><br>

        <label>caste:</label>    
        <select name = 'html_caste'>
                <option value="Shwetamber">Shwetamber</option>
                <option value="Brahmin">Brahmin</option>
                <option value="Thakur">Thakur</option></select><br><br>

        <label>mother_tongue:</label>    
        <select name = 'html_mother_tongue'>
                 <option value="Marathi">Marathi</option>
                 <option value="Hindi">Hindi</option>
                 <option value="Gujrati">Gujrati</option>
                 <option value="English">English</option></select><br><br>


        <label>country:</label>    
        <select name = 'html_country'>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option></select><br><br>       
 
                    

        <label>height_cm:</label> <input type="number" name = 'html_height_cms'> <br><br>
        </select> <br><br>

        <input type="submit" value="AGE PREDICTION">


    </form><br>
    <label>Predicted AGE For Marriage : </label>{{prediction}}

</body>
</html>