<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marriage Age prediction</title>
</head>
<body style="background-color: #FFB6D5;">
    <div style="background-image: url('https://images.template.net/27044/Pink-Floral-Wedding-Invitation-Card-0.jpg');"> 
    <h1> Marriage Age prediction</h1>


    <form action="/get_data" method="post">
        <label>gender:</label> 
         <input type="radio" name = 'html_gender' value="male"> <label>Male</label>
         <input type="radio" name = 'html_gender' value="female"> <label>Female</label> <br><br>


        <label>religion:</label> 
        <select name = 'html_religion'>
            <option value="Christian">Christian</option>
            <option value="Hindu">Hindu</option>
            <option value="Jain">Jain</option>
            <option value="Muslim">Muslim</option>
            <option value="Sikh">Sikh</option>
        </select><br><br>

        <label>caste:</label>    
        <select name = 'html_caste'>
            <option value=" Agarwal">Agarwal</option>
            <option value=" Agri">Agri</option>
            <option value=" Ahom">Ahom</option>
            <option value=" Arora">Arora</option>
            <option value=" Arya Vysya">Arya Vysya</option>
            <option value=" Baidya">Baidya</option>
            <option value=" Baishnab">Baishnab</option>
            <option value=" Baishya">Baishya</option>
            <option value=" Balija">Balija</option>
            <option value=" Baniya">Baniya</option>
            <option value=" Bhandari">Bhandari</option>
            <option value=" Bhatia">Bhatia</option>
            <option value=" Billava">Billava</option>
            <option value=" Born Again">Born Again</option>
            <option value=" Brahmin">Brahmin</option>
            <option value=" Goud">Goud</option>
            <option value=" Gursikh">Gursikh</option>
            <option value=" Kaibarta">Kaibarta</option>
            <option value=" Kalita">Kalita</option>
            <option value=" Kayastha">Kayastha</option>
            <option value=" Khatri">Khatri</option>
            <option value=" Kshatriya">Kshatriya</option>
            <option value=" Lingayath">Lingayath</option>
            <option value=" Marthoma">Marthoma</option>
            <option value=" Memon">Memon</option>
            <option value=" OBC - Barber/Naayee">OBC - Barber/Naayee</option>
            <option value=" Panchal">Panchal</option>
            <option value=" Patel">Patel</option>
            <option value=" Rajput - Lodhi">Rajput - Lodhi</option>
            <option value=" Ramdasia">Ramdasia</option>
            <option value=" Roman Catholic">Roman Catholic</option>
            <option value=" Sahu">Sahu</option>
            <option value=" Saini">Saini</option>
            <option value=" Scheduled Caste (SC)">Scheduled Caste (SC)</option>
            <option value=" Shwetamber">Shwetamber</option>
            <option value=" Sindhi-Sakkhar">Sindhi-Sakkhar</option>
            <option value=" Thakur">Thakur</option>
            <option value=" Vaishnav">Vaishnav</option>
            <option value=" Valmiki">Valmiki</option>
            <option value=" Vanniyar">Vanniyar</option>
            <option value=" Viswabrahmin">Viswabrahmin</option>
            <option value=" others">others</option>
        </select><br><br>

        <label>mother_tongue:</label>    
        <select name = 'html_mother_tongue'>
            <option value="Aka">Aka</option>
            <option value="Assamese">Assamese</option>
            <option value="Bengali">Bengali</option>
            <option value="Bhojpuri">Bhojpuri</option>
            <option value="Chattisgarhi">Chattisgarhi</option>
            <option value="English">English</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Haryanavi">Haryanavi</option>
            <option value="Hindi">Hindi</option>
            <option value="Kannada">Kannada</option>
            <option value="Kashmiri">Kashmiri</option>
            <option value="Konkani">Konkani</option>
            <option value="Kutchi">Kutchi</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Manipuri">Manipuri</option>
            <option value="Marathi">Marathi</option>
            <option value="Marwari">Marwari</option>
            <option value="Nepali">Nepali</option>
            <option value="Odia">Odia</option>
            <option value="Other">Other</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Rajasthani">Rajasthani</option>
            <option value="Sindhi">Sindhi</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>
            <option value="Tulu">Tulu</option>
            <option value="Urdu">Urdu</option>
        </select><br><br>


        <label>country:</label>    
        <select name = 'html_country'>
            <option value=" Australia">Australia</option>
            <option value=" Bahrain">Bahrain</option>
            <option value=" Bangladesh">Bangladesh</option>
            <option value=" Canada">Canada</option>
            <option value=" Germany">Germany</option>
            <option value=" India">India</option>
            <option value=" Ireland">Ireland</option>
            <option value=" Kuwait">Kuwait</option>
            <option value=" Malaysia">Malaysia</option>
            <option value=" Myanmar">Myanmar</option>
            <option value=" Netherlands">Netherlands</option>
            <option value=" New Zealand">New Zealand</option>
            <option value=" Norway">Norway</option>
            <option value=" Oman">Oman</option>
            <option value=" Pakistan">Pakistan</option>
            <option value=" Philippines">Philippines</option>
            <option value=" Qatar">Qatar</option>
            <option value=" Singapore">Singapore</option>
            <option value=" South Africa">South Africa</option>
            <option value=" USA">USA</option>
            <option value=" United Arab Emirates">United Arab Emirates</option>
            <option value=" United Kingdom">United Kingdom</option>
        </select><br><br>       
 
        <label>height_cms:</label><input type="number" step="0.001" name = 'html_height_cms'><br><br>

        <input type="submit" value="AGE PREDICTION">

    </form><br>
    <label>Marriage Age Predicted :</label>{{prediction}}

</body>
</html>